.App {
  height: 100vh;
  background-image: url("../public/background-sp.png");
  background-size: cover;
  position: relative;
}

.logo {
  width: 15vh;
  padding: 10px;
}

.main {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.pawmi-picture {
  position: absolute;
  top: 30%;
  width: 80%;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;

  & p {
    color: #fff;
    font-size: 20px;
  }
}
